<footer class="footer">
  <div class="container-fluid">
    <div class="logo">
      <h1 class="brand-title">SketchOff</h1>
    </div>
    <p class="footer-text">
        <span class="copyright-text">
            <span class="copyright">&copy;</span> SketchOff 2014
            <span class="hidden-xs">|</span>
        </span>
        <span class="hidden-xs">
        About
        <span class="split">|</span>
        <a id="nav-cap" href="/campus-ambassador">Campus Ambassadors</a>
        <span class="split">|</span>
        <a id="nav-join" href="/join">Join Us</a></span>
    </p>
  </div>
</footer>
