@import "bootstrap/variables";
// @import "bootstrap";

$c1: #143643;
$c2: #b5ddd8;
$c21: #26657e;
$c3: #cbe7e3;
$cy: #eec33e;  // yellow
$logo-size: 60px;
$nav-height: $logo-size + 10px;

@mixin scr($media) {
  @if $media == xs {
    @media (max-width: $grid-float-breakpoint-max) { @content; }
  }
  @else if $media == md {
    @media (min-width: $grid-float-breakpoint) { @content; }
  }
}

.email-at:before {
    content: '\0040';
}

.emph {
    // font-style: italic;
    text-transform: uppercase;
}

.bold {
    font-weight: 700;
}

.navbar {
    height: $nav-height;
    background-color: $c3;
    box-shadow: 0 0 3px 1px $gray-light;
    opacity: 0.9;
    font-weight: 600;

    .navbar-header {
        height: $logo-size;
        .navbar-toggle {
            background-color: $c1;
            &:hover, &:focus {
                background-color: $c1;
            }
            .icon-bar {
                background-color: $gray-lighter;
            }
        }
    }

    .logo {
        background: url('../img/sketch_off_logo.png') no-repeat;
        background-size: $logo-size, $logo-size;
        background-position: 5px 5px;
        height: $logo-size + 5px;
        display: block;
        padding-left: $logo-size + 24px;
        margin-right: 20px;
        padding-top: 18px;
        color: #fff;
        font-size: 30px;
        text-shadow: 2px 1px 2px rgba(0,0,0,0.45);
        &:hover, &:focus {
            text-decoration: none;
        }
    }

    .brand > a {
        color: #fff;
        font-size: 1.5em;
        text-shadow: 2px 1px 2px rgba(0,0,0,0.45);
        margin-left: -12px;
        &:hover,
        &:focus {
            border: none;
        }
    }

    .navbar-nav {
        font-size: 20px;
        > li > a {
            color: $c1;
            padding: 30px 10px 10px 10px;
            margin: 0 10px;
            &:hover,
            &:focus {
                background: inherit;
                border-bottom: 4px solid $c1;
            }
        }
        > li .active {
            border-bottom: 4px solid $c1;
        }
    }

    .navbar-toggle {
        margin-top: 20px;
        border-color: $navbar-default-toggle-border-color;
        &:hover,
        &:focus {
            background-color: $navbar-default-toggle-hover-bg;
        }
        .icon-bar {
            background-color: $navbar-default-toggle-icon-bar-bg;
        }
    }

    .navbar-collapse > .navbar-nav {
        @include scr(xs) { background-color: #fff; }
    }
}

.body-container {
    margin-top: $nav-height;
    min-height: 570px;
}

.animated-arrow {
    // position: fixed;
    // bottom: 10px;
    // left: 50%;
    -webkit-animation: upAndDown 2s infinite;
    animation: upAndDown 2s infinite;
}

.slide-wrapper {
    height: 600px;
    width: 100%;
    position: relative;
    list-style-type: none;
    // border: 1px solid #000;
    h1 {
        position: absolute;
        font-weight: 300;
        @include scr(md) { font-size: 54px; }
        @include scr(xs) { font-size: 32px; top: 10px; left: 0; }
    }
    p {
        position: absolute;
        font-size: 20px;
        &:before {
            content: open-quote;
        }
        &:after {
            content: close-quote;
        }
        > .emph {
            text-transform: none;
            font-weight: 700;
        }
    }
}

.img-mockup {
    height: 540px;
    position: absolute;
    z-index: 1;
}

#slide-1 {
    @include scr(xs) { height: 780px; }
    h1 {
        @include scr(md) { top: 300px; left: 540px; }
    }
    p {
        @include scr(md) { top: 400px; left: 550px; }
        @include scr(xs) { top: 120px; left: 0px; }
    }
    .img-mockup {
        @include scr(md) { top: 40px; left: 140px; }
        @include scr(xs) { top: 220px; left: 10px; }
    }
    .img-overlay {
        position: absolute;
        z-index: 2;
        opacity: 0.9;
        @include scr(md) { top: 0; left: 340px; width: 200px; }
        @include scr(xs) { top: 160px; left: 190px; width: 150px; }
    }
}

#slide-2 {
    @include scr(xs) { height: 1020px; }
    h1 {
        @include scr(md) { top: 200px; left: 340px; }
    }
    .img-mockup.first {
        @include scr(md) { top: 40px; left: 40px; }
        @include scr(xs) { top: 80px; left: 10px; }
    }
    .img-mockup.second {
        @include scr(md) { top: 40px; right: 60px; }
        @include scr(xs) { top: 460px; left: 10px; }
    }
}

#slide-3 {
    @include scr(xs) { height: 740px; }
    h1 {
        @include scr(md) { top: 200px; left: 100px; line-height: 1.3em; width: 500px; }
    }
    p {
        @include scr(md) { top: 360px; left: 110px; }
        @include scr(xs) { top: 120px; left: 10px; }
    }
    .img-mockup.first {
        @include scr(md) { top: 20px; right: 60px; }
        @include scr(xs) { top: 190px; left: 10px; }
    }
    .img-mockup.second {
        @include scr(md) { top: 200px; right: 270px; height: 360px; }
        @include scr(xs) { visibility: hidden; }
    }
}

#slide-4 {
    @include scr(xs) { height: 840px; }
    h1 {
        @include scr(md) { top: 180px; left: 540px; line-height: 1.3em; width: 500px; }
    }
    p {
        @include scr(md) { top: 460px; left: 540px; }
        @include scr(xs) { top: 180px; left: 10px; }
    }
    .img-mockup.first {
        @include scr(md) { top: 20px; left: 60px; }
        @include scr(xs) { top: 280px; left: 10px; }
    }
    .img-mockup.second {
        @include scr(md) { top: 160px; left: 240px; height: 420px; }
        @include scr(xs) { visibility: hidden; }
    }
}

#slide-5 {
    @include scr(xs) { height: 840px; }
    h1 {
        @include scr(md) { top: 160px; left: 420px; line-height: 1.3em; width: 500px;}
    }
    p {
        @include scr(md) { top: 400px; left: 420px; width: 600px; }
        @include scr(xs) { top: 150px; left: 10px; }
    }
    .img-mockup.first {
        @include scr(md) { top: 30px; left: 60px; }
        @include scr(xs) { top: 260px; left: 10px; }
    }
    // .img-mockup.second {
    //     @include scr(md) { top: 20px; left: 200px; }
    //     @include scr(xs) { visibility: hidden; }
    // }
}

.bx-wrapper .bx-pager {
    top: 40%;
    right: 0;
    width: 10px;
}

$p-radius: 8px;
.bx-wrapper .bx-pager.bx-default-pager a {
    height: $p-radius * 2;
    width: $p-radius * 2;
    border-radius: $p-radius;
    margin-bottom: $p-radius * 1.6;
    border: 1px solid darken($c3, 20%);
    background: #fff;

    &:hover, &.active {
        background: $c3;
    }
}

.home-container {
    height: 630px;
    background-color: lighten($c3, 10%);
    // box-shadow: 0 0 1px 1px $gray;
    @include scr(md) { height: 630px; }
    @include scr(xs) { height: 1000px; }
    h1 {
        position: absolute;
        left: 640px;
        top: 110px;
        line-height: 1.5em;
        font-size: 48px;
        font-family: Sail, inherit;
        color: $c1;
        .indent {
            @include scr(md) { text-indent: 2em; }
            @include scr(xs) { text-indent: 0; }
        }
        @include scr(md) { left: 640px; top: 110px; font-size: 48px; }
        @include scr(xs) { left: 10px; top: 70px; font-size: 32px; }
    }
    .img-mockup {
        position: absolute;
        @include scr(md) { left: 220px; top: 100px; }
        @include scr(xs) { left: 10px; top: 200px; }
        &.second {
            @include scr(md) { left: 400px; top: 260px; }
            @include scr(xs) { left: 180px; top: 360px; }
            height: 400px;
        }
    }
    .sign-up-wrapper {
        position: absolute;
        @include scr(md) { left: 740px; top: 320px; }
        @include scr(xs) { left: 10px; top: 760px; }
        h4 {
            font-weight: 700;
            font-size: 32px;
            color: $cy;
        }
        p {
            font-size: 18px;
        }
        form {
            width: 320px;
            .btn {
                background-color: $cy;
                // color: #fff;
                font-weight: 600;
                font-size: 18px;
            }
        }
        #output {
            margin-top: 10px;
            font-size: 20px;
        }
    }
}

.sign-up-container {
    h1 {
        margin: 1em 0 0 2em;
        line-height: 1.5em;
        text-indent: -2em;
    }
}

.join-container {
    h1 {
        margin-top: 30px;
    }
    .btn-job {
        width: 300px;
        height: 100px;
        border-radius: 15px;
        background: $c21;
        border-color: $c1;

        font-size: 24px;
        color: #fff;

        margin: 30px 30px;
        cursor: inherit;
        @media (max-width: $grid-float-breakpoint-max) {
            margin: 10px 20px !important;
        }
    }
    .indent {
        @media (min-width: $grid-float-breakpoint) {
            margin-left: 210px;
        }
    }

    p {
        font-size: 1.5em;
        text-align: center;
    }
}

code {
    background: $gray-lighter;
    color: $c1;
    font-size: 16px;
}

.img-want {
    height: 340px;
    margin-top: 60px;
}

.ca-wrapper {
    .emph {
        text-transform: inherit;
        font-weight: 700;
    }
    margin-top: 60px;
    font-size: 20px;
}

.footer {
    height: 60px;
    background: $c1;
    color: #fff;

    p {
        text-align: center;
        font-size: 0.9em;
        font-weight: 100;
        margin-top: 20px;
    }
}
