@import "bootstrap/variables";
// @import "bootstrap";

$c1: #143643;
$c2: #b5ddd8;
$c21: #26657e;
$c3: #cbe7e3;
$cy: #eec33e;  // yellow
$logo-size: 60px;
$nav-height: $logo-size + 10px;

@mixin scr($media) {
  @if $media == xs {
    @media (max-width: $grid-float-breakpoint-max) { @content; }
  }
  @else if $media == md {
    @media (min-width: $grid-float-breakpoint) { @content; }
  }
}

.email-at:before {
    content: '\0040';
}

.emph {
    // font-style: italic;
    text-transform: uppercase;
}

.bold {
    font-weight: 700;
}

.navbar {
    height: $nav-height;
    background-color: $c3;
    box-shadow: 0 0 3px 1px $gray-light;
    opacity: 0.9;
    font-weight: 600;

    .navbar-header {
        height: $logo-size;
        .navbar-toggle {
            background-color: $c1;
            &:hover, &:focus {
                background-color: $c1;
            }
            .icon-bar {
                background-color: $gray-lighter;
            }
        }
    }

    .logo {
        background: url('../img/sketch_off_logo.png') no-repeat;
        background-size: $logo-size, $logo-size;
        background-position: 5px 5px;
        height: $logo-size + 5px;
        display: block;
        padding-left: $logo-size + 24px;
        margin-right: 20px;
        padding-top: 18px;
        color: #fff;
        font-size: 30px;
        text-shadow: 2px 1px 2px rgba(0,0,0,0.45);
        &:hover, &:focus {
            text-decoration: none;
        }
    }

    .brand > a {
        color: #fff;
        font-size: 1.5em;
        text-shadow: 2px 1px 2px rgba(0,0,0,0.45);
        margin-left: -12px;
        &:hover,
        &:focus {
            border: none;
        }
    }

    .navbar-nav {
        font-size: 20px;
        > li > a {
            color: $c1;
            padding: 30px 10px 10px 10px;
            margin: 0 10px;
            &:hover,
            &:focus {
                background: inherit;
                border-bottom: 4px solid $c1;
            }
        }
        > li .active {
            border-bottom: 4px solid $c1;
        }
    }

    .navbar-toggle {
        margin-top: 20px;
        border-color: $navbar-default-toggle-border-color;
        &:hover,
        &:focus {
            background-color: $navbar-default-toggle-hover-bg;
        }
        .icon-bar {
            background-color: $navbar-default-toggle-icon-bar-bg;
        }
    }

    .navbar-collapse > .navbar-nav {
        @include scr(xs) { background-color: #fff; }
    }
}

.body-container {
    margin-top: $nav-height;
    min-height: 570px;
}

.animated-arrow {
    // position: fixed;
    // bottom: 10px;
    // left: 50%;
    -webkit-animation: upAndDown 2s infinite;
    animation: upAndDown 2s infinite;
}

.img-mockup {
    height: 540px;
    z-index: 1;
    @include scr(md) { position: absolute; }
}

@include scr(xs) {
    .caption { float: left; }
    .img-mockup { float: left; }
}

.home-container {
    background-color: lighten($c3, 10%);
    @include scr(md) { height: 630px; }
    &:after {
        clear: both;
        content: "";
        display: block;
    }
    padding-bottom: 20px;
    h1 {
        line-height: 1.5em;
        font-family: Sail, inherit;
        color: $c1;
        .indent {
            @include scr(md) { text-indent: 2em; }
        }
        @include scr(md) { position: absolute; left: 640px; top: 110px; font-size: 48px; }
        @include scr(xs) { font-size: 24px; }
    }
    .img-mockup {
        @include scr(md) { left: 220px; top: 100px; }
        &.second {
            @include scr(md) { left: 400px; top: 260px; }
            @include scr(xs) { display: none; }
            height: 400px;
        }
    }
    .sign-up-wrapper {
        @include scr(md) { position: absolute; left: 740px; top: 320px; }
        @include scr(xs) { float: left; }
        h4 {
            font-weight: 700;
            color: $cy;
            width: 100%;
            @include scr(md) { font-size: 32px; }
            @include scr(xs) { font-size: 28px; }
        }
        p {
            font-size: 18px;
        }
        form {
            @include scr(md) { width: 320px; }
            @include scr(xs) { width: 100%; }
            .btn {
                background-color: $cy;
                // color: #fff;
                font-weight: 600;
                font-size: 18px;
            }
        }
        #output {
            margin-top: 10px;
            font-size: 20px;
        }
    }
}

.slider {
    padding: 0;
}

.slide-wrapper {
    @include scr(md) { height: 600px; }
    position: relative;
    width: 100%;
    list-style-type: none;
    &:after {
        clear: both;
        content: "";
        display: block;
    }
    padding-bottom: 20px;
    border-top: 1px solid $gray-lighter;
    .caption {
        @include scr(md) { position: absolute; }
    }
    h1 {
        font-weight: 300;
        @include scr(md) { font-size: 44px; margin-bottom: 20px; line-height: 1.3em; }
        @include scr(xs) { font-size: 30px; top: 10px; left: 0; }
    }
    p {
        font-size: 20px;
        @include scr(md) { padding-left: 0.2em; }
        &:before {
            content: open-quote;
        }
        &:after {
            content: close-quote;
        }
        > .emph {
            text-transform: none;
            font-weight: 700;
        }
    }
}

@include scr(xs) {
    #slide-1 > .img-overlay { display: none; }
    #slide-4 > .img-mockup.second { display: none; }
}

@include scr(md) {
    #slide-1 {
        .caption {
             top: 300px; left: 540px;
        }
        .img-mockup {
             top: 40px; left: 140px;
        }
        .img-overlay {
            z-index: 2;
            opacity: 0.9;
             position: absolute; top: 0; left: 340px; width: 200px;
        }
    }

    #slide-2 {
        .caption {
             top: 200px; left: 340px;
        }
        .img-mockup.first {
             top: 40px; left: 40px;
        }
        .img-mockup.second {
             top: 40px; right: 60px;
        }
    }

    #slide-3 {
        .caption {
             top: 200px; left: 100px; width: 540px;
        }
        .img-mockup.first {
             top: 20px; right: 60px;
        }
        .img-mockup.second {
             top: 200px; right: 270px; height: 360px;
        }
    }

    #slide-4 {
        .caption {
             top: 180px; left: 540px; width: 500px;
        }
        .img-mockup.first {
             top: 20px; left: 60px;
        }
        .img-mockup.second {
             top: 160px; left: 240px; height: 420px;
        }
    }

    #slide-5 {
        .caption {
             top: 160px; left: 420px; width: 500px;
        }
        .img-mockup.first {
             top: 30px; left: 60px;
        }
        // .img-mockup.second {
        //      top: 20px; left: 200px;
        // }
    }
} // end include

.bx-wrapper .bx-pager {
    top: 40%;
    right: 0;
    width: 10px;
}

$p-radius: 8px;
.bx-wrapper .bx-pager.bx-default-pager a {
    height: $p-radius * 2;
    width: $p-radius * 2;
    border-radius: $p-radius;
    margin-bottom: $p-radius * 1.6;
    border: 1px solid darken($c3, 20%);
    background: #fff;

    &:hover, &.active {
        background: $c3;
    }
}

.join-container {
    h1 {
        margin-top: 30px;
    }
    .btn-job {
        @include scr(md) { width: 300px; margin: 30px 30px; }
        @include scr(xs) { width: 90%; margin: 10px 20px; }
        height: 100px;
        border-radius: 15px;
        background: $c21;
        border-color: $c1;

        font-size: 24px;
        color: #fff;
        cursor: inherit;
    }
    .indent {
        @include scr(md) { margin-left: 210px; }
    }
    p {
        font-size: 1.5em;
        text-align: center;
    }
}

code {
    background: $gray-lighter;
    color: $c1;
    font-size: 16px;
}

.ca-wrapper {
    @include scr(md) { margin-top: 60px; }
    @include scr(xs) { margin-top: 20px; }
    font-size: 20px;
    .emph {
        text-transform: inherit;
        font-weight: 700;
    }
}

.img-want {
    @include scr(md) { height: 340px; margin-top: 60px; }
    @include scr(xs) { width: 100%; margin-top: 20px; }
}

.footer {
    height: 60px;
    background: $c1;
    color: #fff;

    p {
        text-align: center;
        font-size: 0.9em;
        font-weight: 100;
        margin-top: 20px;
    }
}
