---
---

// @import "bootstrap/variables";
@import "vendor";

$red: #e64c3c;
$blue: #277fff;
$lightblue: #27bbff;
$gray: #2b2b2b;
$white: #fff;

@mixin scr($media) {
  @if $media == xs {
    @media (max-width: $grid-float-breakpoint-max) { @content; }
  }
  @else if $media == md {
    @media (min-width: $grid-float-breakpoint) { @content; }
  }
}

@font-face {
    font-family: Sketchica;
    src: url('font/sketch.ttf');
}

// --------------------
//     Navbar
// --------------------

// Default navbar
.navbar {
    border: none;
    padding-top: 10px;

    .navbar-brand {
        color: $red;
        font-family: Sketchica, inherit;
        font-size: 28px;
    }
    .navbar-nav {
        > li > a {
            color: $red;
            font-size: 20px;
            font-weight: 300;
            &:hover, &:focus {
                background: none;
            }
        }
        .active {
            font-weight: 500;
        }
    }
    .navbar-toggle {
        border-color: $red;
        .icon-bar {
            background-color: $red;
        }
    }
    .navbar-collapse, .navbar-form {
        border-color: $navbar-default-border;
    }
}

.footer {
    margin: 30px auto 20px auto;
}

.footer-text {
    text-align: center;
    color: $red;
}

// --------------------
//     Home page
// --------------------
$border-ptg: 13%;

.home-container {
    h1 {
        text-transform: uppercase;
        font-weight: 500;
        color: $white;
        @include scr(md) {
            position: absolute;
            right: 6%;
            text-align: right;
        }
    }
}

@include scr(xs) {
    .home-container {
        .navbar {
            .navbar-brand { color: $white; }
            .navbar-nav > li > a { color: $white; }
            .navbar-toggle {
                border-color: $white;
                .icon-bar { background-color: $white; }
            }
        }
    }
    h1 {
        padding-left: 40px;
        margin-top: 5px;
    }
    .description {
        padding-left: 40px;
        font-size: 24px;
        font-weight: 300;
    }
    .intro {
        height: 400px;
        background-color: $red;
    }
}

.intro {
    position: relative;
    color: $white;
}

@include scr(md) {
    .intro {
        height: 700px;
        background-image: url("../img/banner.jpg");
        background-size: 100%;
        background-position: center 20%;
    }
    .introducing {
        font-size: 80px;
        top: 240px;
    }
    .you {
        font-size: 92px;
        top: 320px;
    }
    .description {
        position: absolute;
        top: 440px;
        right: 6%;
        font-size: 28px;
        text-align: right;
        font-weight: 300;
    }
}

.more {
    font-weight: 100;
    font-size: 24px;
    margin: 0 auto;

    position: absolute;
    bottom: 10px;
    left: 42%;
}

.main-title {
    font-size: 60px;
    position: absolute;
    top: 400px;
    right: $border-ptg;
    font-family: Sketchica, inherit;
}

.sign-up {
    width: 320px;
    position: absolute;
    left: $border-ptg;
    bottom: 120px;

    * { border: none; }
    input {
        border-radius: 0;
        background-color: $white;
        font-weight: 100;
        opacity: 0.9;
        &:focus {
            opacity: 1;
        }
    }
    button {
        border-radius: 0;
        background-color: $lightblue;
        color: $white;
        height: 34px;
        font-weight: 100;
        &:hover, &:focus {
            background-color: darken($lightblue, 10%);
            color: $white;
        }
    }
}

.output {
    color: $white;
    font-weight: 200;
    margin-top: 10px;
}

.coming-soon {
    height: 47px;
    width: 160px;
    background-image: url("../img/coming-soon.png");
    background-size: 100%;
    position: absolute;
    left: $border-ptg;
    bottom: 60px;
}

.features {
    background-color: #ebeff1;
    @include scr(md) {
        background-image: url("../img/splash-features.png");
        background-size: 100%;
        background-repeat: no-repeat;
        height: 700px;
    }
    position: relative;
    font-weight: 300;
}

$wd: 240px;
.iphone {
    background-image: url("../img/iphone_frame.png");
    background-size: 100%;
    width: $wd;
    height: $wd * 1515 / 720;
    margin: 0 auto;
    margin-top: 60px;
}

$iw: 204px;
.bx-viewport {
  top: 73px;
  left: 19px;
  width: $iw !important;
}

.bxslider > li {
    left: 0;
    > img {
        width: 100%;
        height: $iw / 640 * 1136;
    }
}

.feature-box {
    width: 240px;
    color: $gray;
    h2 {
        color: $red;
        font-size: 20px;
        line-height: 28px;
        font-weight: 300;
        @include scr(md) { max-width: 160px; }
    }
    .icon {
        min-height: 50px;
        @include scr(xs) { padding-top: 10px; }
        background-size: 50px 50px;
        background-repeat: no-repeat;
        padding-left: 70px;
    }
    .icon-share { background-image: url("../img/icon-share.png"); }
    .icon-camera { background-image: url("../img/icon-camera.png"); }
    .icon-eye     { background-image: url("../img/icon-eye.png"); }
    .icon-sketches { background-image: url("../img/icon-sketches.png"); }
    .emph {
        font-weight: 500;
    }
}

@include scr(xs) {
    .img-iphone { display: none; }
}

@include scr(md) {
    .feature-box { position: absolute; }
    .box-1, .box-2 { left: $border-ptg; }
    .box-3, .box-4 { right: $border-ptg; }
    .box-1, .box-3 { top: 100px; }
    .box-2, .box-4 { top: 340px; }
}

.signup {
    // height: 500px;
}

// ----------------------------
//   Campus Ambassador Page
// ----------------------------
.email {
    font-family: "HelveticaNeue-CondensedBold", inherit;
}

.map {
    background-image: url("../img/map.png");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 450px;
    @include scr(xs) { height: 300px; }
}

.cap-intro {
    color: $red;
    h1 {
        font-size: 54px;
    }
    p {
        margin-top: 30px;
        font-weight: 200;
    }
    .want-in {
        font-size: 24px;
    }
}

// ----------------------------
//   Join Us Page
// ----------------------------
$join-r: 584 / 1037;
.join-columns {
    background-image: url("../img/join.png");
    background-size: 100%;
    height: 420px;
    width: 746px;
    margin: 0 auto;
    margin-bottom: 40px;
    @include scr(xs) {
        height: 210px;
        width: 373px;
    }
}

.join-container {
    p {
        color: $red;
        font-size: 18px;
        font-weight: 200;
    }
}


