.email-at:before {
  content: '\0040'; }

.emph {
  text-transform: uppercase; }

.bold {
  font-weight: 700; }

.navbar {
  height: 70px;
  background-color: #cbe7e3;
  box-shadow: 0 0 3px 1px #999999;
  opacity: 0.9;
  font-weight: 600; }
  .navbar .navbar-header {
    height: 60px; }
    .navbar .navbar-header .navbar-toggle {
      background-color: #143643; }
      .navbar .navbar-header .navbar-toggle:hover, .navbar .navbar-header .navbar-toggle:focus {
        background-color: #143643; }
      .navbar .navbar-header .navbar-toggle .icon-bar {
        background-color: #eeeeee; }
  .navbar .logo {
    background: url("../img/sketch_off_logo.png") no-repeat;
    background-size: 60px, 60px;
    background-position: 5px 5px;
    height: 65px;
    display: block;
    padding-left: 84px;
    margin-right: 20px;
    padding-top: 18px;
    color: #fff;
    font-size: 30px;
    text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.45); }
    .navbar .logo:hover, .navbar .logo:focus {
      text-decoration: none; }
  .navbar .brand > a {
    color: #fff;
    font-size: 1.5em;
    text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.45);
    margin-left: -12px; }
    .navbar .brand > a:hover, .navbar .brand > a:focus {
      border: none; }
  .navbar .navbar-nav {
    font-size: 20px; }
    .navbar .navbar-nav > li > a {
      color: #143643;
      padding: 30px 10px 10px 10px;
      margin: 0 10px; }
      .navbar .navbar-nav > li > a:hover, .navbar .navbar-nav > li > a:focus {
        background: inherit;
        border-bottom: 4px solid #143643; }
    .navbar .navbar-nav > li .active {
      border-bottom: 4px solid #143643; }
  .navbar .navbar-toggle {
    margin-top: 20px;
    border-color: #dddddd; }
    .navbar .navbar-toggle:hover, .navbar .navbar-toggle:focus {
      background-color: #dddddd; }
    .navbar .navbar-toggle .icon-bar {
      background-color: #888888; }
  @media (max-width: 767px) {
    .navbar .navbar-collapse > .navbar-nav {
      background-color: #fff; } }

.body-container {
  margin-top: 70px;
  min-height: 570px; }

.animated-arrow {
  -webkit-animation: upAndDown 2s infinite;
  animation: upAndDown 2s infinite; }

.slide-wrapper {
  height: 600px;
  width: 100%;
  position: relative;
  list-style-type: none;
  border-top: 1px solid #eeeeee; }
  .slide-wrapper h1 {
    position: absolute;
    font-weight: 300; }
    @media (min-width: 768px) {
      .slide-wrapper h1 {
        font-size: 44px; } }
    @media (max-width: 767px) {
      .slide-wrapper h1 {
        font-size: 30px;
        top: 10px;
        left: 0; } }
  .slide-wrapper p {
    position: absolute;
    font-size: 20px; }
    .slide-wrapper p:before {
      content: open-quote; }
    .slide-wrapper p:after {
      content: close-quote; }
    .slide-wrapper p > .emph {
      text-transform: none;
      font-weight: 700; }

.img-mockup {
  height: 540px;
  position: absolute;
  z-index: 1; }

@media (max-width: 767px) {
  #slide-1 {
    height: 780px; } }
@media (min-width: 768px) {
  #slide-1 h1 {
    top: 300px;
    left: 540px; } }
@media (min-width: 768px) {
  #slide-1 p {
    top: 400px;
    left: 550px; } }
@media (max-width: 767px) {
  #slide-1 p {
    top: 120px;
    left: 0px; } }
@media (min-width: 768px) {
  #slide-1 .img-mockup {
    top: 40px;
    left: 140px; } }
@media (max-width: 767px) {
  #slide-1 .img-mockup {
    top: 220px;
    left: 10px; } }
#slide-1 .img-overlay {
  position: absolute;
  z-index: 2;
  opacity: 0.9; }
  @media (min-width: 768px) {
    #slide-1 .img-overlay {
      top: 0;
      left: 340px;
      width: 200px; } }
  @media (max-width: 767px) {
    #slide-1 .img-overlay {
      top: 160px;
      left: 190px;
      width: 150px; } }

@media (max-width: 767px) {
  #slide-2 {
    height: 1020px; } }
@media (min-width: 768px) {
  #slide-2 h1 {
    top: 200px;
    left: 340px; } }
@media (min-width: 768px) {
  #slide-2 .img-mockup.first {
    top: 40px;
    left: 40px; } }
@media (max-width: 767px) {
  #slide-2 .img-mockup.first {
    top: 80px;
    left: 10px; } }
@media (min-width: 768px) {
  #slide-2 .img-mockup.second {
    top: 40px;
    right: 60px; } }
@media (max-width: 767px) {
  #slide-2 .img-mockup.second {
    top: 460px;
    left: 10px; } }

@media (max-width: 767px) {
  #slide-3 {
    height: 740px; } }
@media (min-width: 768px) {
  #slide-3 h1 {
    top: 200px;
    left: 100px;
    line-height: 1.3em;
    width: 500px; } }
@media (min-width: 768px) {
  #slide-3 p {
    top: 360px;
    left: 110px; } }
@media (max-width: 767px) {
  #slide-3 p {
    top: 120px;
    left: 10px; } }
@media (min-width: 768px) {
  #slide-3 .img-mockup.first {
    top: 20px;
    right: 60px; } }
@media (max-width: 767px) {
  #slide-3 .img-mockup.first {
    top: 190px;
    left: 10px; } }
@media (min-width: 768px) {
  #slide-3 .img-mockup.second {
    top: 200px;
    right: 270px;
    height: 360px; } }
@media (max-width: 767px) {
  #slide-3 .img-mockup.second {
    visibility: hidden; } }

@media (max-width: 767px) {
  #slide-4 {
    height: 840px; } }
@media (min-width: 768px) {
  #slide-4 h1 {
    top: 180px;
    left: 540px;
    line-height: 1.3em;
    width: 500px; } }
@media (min-width: 768px) {
  #slide-4 p {
    top: 460px;
    left: 540px; } }
@media (max-width: 767px) {
  #slide-4 p {
    top: 180px;
    left: 10px; } }
@media (min-width: 768px) {
  #slide-4 .img-mockup.first {
    top: 20px;
    left: 60px; } }
@media (max-width: 767px) {
  #slide-4 .img-mockup.first {
    top: 280px;
    left: 10px; } }
@media (min-width: 768px) {
  #slide-4 .img-mockup.second {
    top: 160px;
    left: 240px;
    height: 420px; } }
@media (max-width: 767px) {
  #slide-4 .img-mockup.second {
    visibility: hidden; } }

@media (max-width: 767px) {
  #slide-5 {
    height: 840px; } }
@media (min-width: 768px) {
  #slide-5 h1 {
    top: 160px;
    left: 420px;
    line-height: 1.3em;
    width: 500px; } }
@media (min-width: 768px) {
  #slide-5 p {
    top: 400px;
    left: 420px;
    width: 600px; } }
@media (max-width: 767px) {
  #slide-5 p {
    top: 150px;
    left: 10px; } }
@media (min-width: 768px) {
  #slide-5 .img-mockup.first {
    top: 30px;
    left: 60px; } }
@media (max-width: 767px) {
  #slide-5 .img-mockup.first {
    top: 280px;
    left: 10px; } }

.bx-wrapper .bx-pager {
  top: 40%;
  right: 0;
  width: 10px; }

.bx-wrapper .bx-pager.bx-default-pager a {
  height: 16px;
  width: 16px;
  border-radius: 8px;
  margin-bottom: 12.8px;
  border: 1px solid #85c7bd;
  background: #fff; }
  .bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active {
    background: #cbe7e3; }

.home-container {
  height: 630px;
  background-color: #eef7f6; }
  @media (min-width: 768px) {
    .home-container {
      height: 630px; } }
  @media (max-width: 767px) {
    .home-container {
      height: 1000px; } }
  .home-container h1 {
    position: absolute;
    left: 640px;
    top: 110px;
    line-height: 1.5em;
    font-size: 48px;
    font-family: Sail, inherit;
    color: #143643; }
    @media (min-width: 768px) {
      .home-container h1 .indent {
        text-indent: 2em; } }
    @media (max-width: 767px) {
      .home-container h1 .indent {
        text-indent: 0; } }
    @media (min-width: 768px) {
      .home-container h1 {
        left: 640px;
        top: 110px;
        font-size: 48px; } }
    @media (max-width: 767px) {
      .home-container h1 {
        left: 10px;
        top: 70px;
        font-size: 32px; } }
  .home-container .img-mockup {
    position: absolute; }
    @media (min-width: 768px) {
      .home-container .img-mockup {
        left: 220px;
        top: 100px; } }
    @media (max-width: 767px) {
      .home-container .img-mockup {
        left: 10px;
        top: 200px; } }
    .home-container .img-mockup.second {
      height: 400px; }
      @media (min-width: 768px) {
        .home-container .img-mockup.second {
          left: 400px;
          top: 260px; } }
      @media (max-width: 767px) {
        .home-container .img-mockup.second {
          left: 180px;
          top: 360px; } }
  .home-container .sign-up-wrapper {
    position: absolute; }
    @media (min-width: 768px) {
      .home-container .sign-up-wrapper {
        left: 740px;
        top: 320px; } }
    @media (max-width: 767px) {
      .home-container .sign-up-wrapper {
        left: 10px;
        top: 760px; } }
    .home-container .sign-up-wrapper h4 {
      font-weight: 700;
      font-size: 32px;
      color: #eec33e; }
    .home-container .sign-up-wrapper p {
      font-size: 18px; }
    .home-container .sign-up-wrapper form {
      width: 320px; }
      .home-container .sign-up-wrapper form .btn {
        background-color: #eec33e;
        font-weight: 600;
        font-size: 18px; }
    .home-container .sign-up-wrapper #output {
      margin-top: 10px;
      font-size: 20px; }

.sign-up-container h1 {
  margin: 1em 0 0 2em;
  line-height: 1.5em;
  text-indent: -2em; }

.join-container h1 {
  margin-top: 30px; }
.join-container .btn-job {
  width: 300px;
  height: 100px;
  border-radius: 15px;
  background: #26657e;
  border-color: #143643;
  font-size: 24px;
  color: #fff;
  margin: 30px 30px;
  cursor: inherit; }
  @media (max-width: 767px) {
    .join-container .btn-job {
      margin: 10px 20px !important; } }
@media (min-width: 768px) {
  .join-container .indent {
    margin-left: 210px; } }
.join-container p {
  font-size: 1.5em;
  text-align: center; }

code {
  background: #eeeeee;
  color: #143643;
  font-size: 16px; }

.img-want {
  height: 340px;
  margin-top: 60px; }

.ca-wrapper {
  margin-top: 60px;
  font-size: 20px; }
  .ca-wrapper .emph {
    text-transform: inherit;
    font-weight: 700; }

.footer {
  height: 60px;
  background: #143643;
  color: #fff; }
  .footer p {
    text-align: center;
    font-size: 0.9em;
    font-weight: 100;
    margin-top: 20px; }
