---
---
$red: #e64c3c;
$blue: #277fff;
$lightblue: #08baf9;
$gray: #2b2b2b;
$white: #fff;

$input-border-focus: $red;

@import "vendor";
// @import "onepage";

@mixin scr($media) {
  @if $media == xs {
    @media (max-width: $grid-float-breakpoint-max) { @content; }
  }
  @else if $media == md {
    @media (min-width: $grid-float-breakpoint) { @content; }
  }
}
@mixin nav-color($color) {
    .navbar {
        .navbar-brand { color: $color; }
        .navbar-nav > li > a { color: $color; }
        .navbar-toggle {
            border-color: $color;
            .icon-bar { background-color: $color; }
        }
    }
}
@font-face {
    font-family: Sketchica;
    src: url('font/sketch.ttf');
}

// --------------------
//     Navbar
// --------------------

// Default navbar
.navbar {
    border: none;
    padding-top: 10px;

    .navbar-brand {
        color: $red;
        font-family: Sketchica, inherit;
        font-size: 28px;
    }
    .navbar-nav {
        > li > a {
            color: $red;
            font-size: 20px;
            font-weight: 300;
            &:hover, &:focus {
                background: none;
            }
        }
        .active {
            font-weight: 500;
        }
    }
    .navbar-toggle {
        border-color: $red;
        .icon-bar {
            background-color: $red;
        }
    }
    .navbar-collapse, .navbar-form {
        border-color: $navbar-default-border;
    }
}

.footer {
    margin: 30px auto 15px auto;
}

.footer-text {
    text-align: center;
    color: $red;
    a {
        color: $red;
        &:hover, &:focus {
            text-decoration: none;
        }
    }
}

// --------------------
//     Home page
// --------------------

.home-container {
    .navbar-nav > li > a { color: $white; }
}

.container-fluid {
    @include scr(md) {
        padding-left: 72px;
    }
}

.intro {
    max-height: 1080px;
    min-height: 580px;
    @media screen and (min-height: 580px) {
        height: 100vh;
    }
    background: url("../img/travel.jpg") $red no-repeat;
    background-size: cover;
    padding-top: 20px;
}

$logo-sz: 60px;
.logo {
    width: $logo-sz;
    height: $logo-sz;
    background: url("../img/sketch-off-logo-lg.png") no-repeat;
    background-size: contain;
    padding-left: ($logo-sz + 20px);
    a:hover, a:active {
        text-decoration: none;
    }
}

.mockup {
    width: 598px;
    height: 636px;
    background: url("../img/mockup-1.png") no-repeat;
    background-size: contain;
    position: absolute;
    bottom: 0;
    right: 0;
    @media (max-width: 1200px) { visibility: hidden; }
}

.brand-title {
    font-weight: 300;
    color: $white;
    @include scr(xs) {
        font-size: 36px;
    }
    @include scr(md) {
        font-size: 36px;
        padding-top: 12px;
    }
}

.headline {
    color: $white;
    font-weight: 500;
    font-size: 56px;
    line-height: 60px;
    @include scr(xs) {
        width: 100%;
        margin-top: 80px;
    }
    @include scr(md) {
        width: 560px;
        margin-top: 200px;
    }
}

.sign-up {
    @include scr(xs) { width: 100%; }
    @include scr(md) { width: 400px; }
    margin-top: 50px;

    * {
        border: none;
        border-radius: 0;
    }
    .input-group-addon {
        background-color: rgba(255,255,255,0.2);
        color: $white;
        padding-right: 8px;
        font-weight: 300;
        border: 1px solid rgba(255,255,255,0.75);
        border-right-width: 0;
    }
    input {
        color: $white;
        padding-left: 8px;
        background-color: rgba(255,255,255,0.2);
        font-weight: 300;
        letter-spacing: 0.5px;
        opacity: 1;
        &:focus {
            background-color: rgba(255,255,255,0.25);
            border-color: rgba(255,255,255,0.75);
        }
        @include placeholder($white);
        @include form-control-focus($white);
        border: 1px solid rgba(255,255,255,0.75);
        border-left-width: 0;
        border-right-width: 0;
    }
    button {
        border-radius: 0;
        background-color: $lightblue;
        color: $white;
        height: 34px;
        width: 140px;
        font-weight: 200;
        &:hover, &:focus {
            background-color: darken($lightblue, 5%);
            color: $white;
        }
    }
}

.output {
    color: $white;
    font-weight: 200;
    margin-top: 10px;
}

.appstore, .android {
    margin-top: 30px;
    height: 60px;
    width: 120px;
    background-size: 100%;
    float: left;
    cursor: pointer;
}

.appstore {
    background-image: url("../img/Appstore.png");
    &:hover {
        background-image: url("../img/Appstore_hover.png");
    }
    &:active, &.active {
        background-image: url("../img/Appstore_hit.png");
    }
}

.android {
    margin-left: 20px;
    background-image: url("../img/Android.png");
    &:hover {
        background-image: url("../img/Android_hover.png");
    }
    &:active, &.active {
        background-image: url("../img/Android_hit.png");
    }
}

.features {
    max-height: 1080px;
    min-height: 500px;
    background-color: $lightblue;
    position: relative;
    font-weight: 300;
    @include scr(md) {
        .row {
            margin-top: 80px;
        }
    }
    padding-top: 40px;
    @media screen and (min-height: 580px) {
        height: 100vh;
    }
}

$wd: 300px;
.iphone {
    background-image: url("../img/iphone-frame.png");
    background-size: 100%;
    background-repeat: no-repeat;
    width: $wd;
    height: $wd * 1574 / 750;
    margin-right: 80px;
    float: left;
}

$iw: 254px;
.bx-viewport {
  top: 92px;
  left: 21px;
  width: $iw !important;
}

.bxslider > li {
    left: 0;
    > img {
        width: 100%;
        height: $iw / 640 * 1136;
    }
}

@include scr(xs) {
    .iphone { display: none; }
}

.feature-box {
    @include scr(xs) {
        margin-top: 20px;
        width: 280px;
    }
    h2 {
        font-size: 32px;
        font-family: "HelveticaNeue-UltraLight", inherit;
        font-weight: 100;
        margin: 10px 0 6px 0;
    }
    color: $white;
    font-size: 20px;
    font-family: "HelveticaNeue-Thin", inherit;
    font-weight: 200;
    cursor: pointer;
    @include scr(md) {
        margin-top: 28px;
        width: 320px;
        padding: 12px;
        border: 1px solid $lightblue;
        transition: border 0.5s ease-out;
        -webkit-transition: border 0.5s ease-out;
        &.active {
            border: 1px solid rgba(255,255,255,0.8);
        }
    }
}

// ----------------------------
//   Campus Ambassador Page
// ----------------------------
.email {
    font-family: "HelveticaNeue-CondensedBold", inherit;
}

.map {
    background-image: url("../img/map.png");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 450px;
    @include scr(xs) { height: 300px; }
}

.cap-intro {
    color: $red;
    h1 {
        font-size: 54px;
    }
    p {
        margin-top: 30px;
        font-weight: 200;
    }
    .want-in {
        font-size: 24px;
    }
}

// ----------------------------
//   Join Us Page
// ----------------------------
$join-r: 584 / 1037;
.join-columns {
    background-image: url("../img/join.png");
    background-size: 100%;
    height: 420px;
    width: 746px;
    margin: 0 auto;
    margin-bottom: 40px;
    @include scr(xs) {
        height: 210px;
        width: 373px;
    }
}

.join-container {
    p {
        color: $red;
        font-size: 18px;
        font-weight: 200;
    }
}

@import "sketch";
