.email-at:before {
  content: '\0040'; }

.emph {
  text-transform: uppercase; }

.bold {
  font-weight: 700; }

.navbar {
  height: 70px;
  background-color: #cbe7e3;
  box-shadow: 0 0 3px 1px #999999;
  opacity: 0.9;
  font-weight: 600; }
  .navbar .navbar-header {
    height: 60px; }
    .navbar .navbar-header .navbar-toggle {
      background-color: #143643; }
      .navbar .navbar-header .navbar-toggle:hover, .navbar .navbar-header .navbar-toggle:focus {
        background-color: #143643; }
      .navbar .navbar-header .navbar-toggle .icon-bar {
        background-color: #eeeeee; }
  .navbar .logo {
    background: url("../img/sketch_off_logo.png") no-repeat;
    background-size: 60px, 60px;
    background-position: 5px 5px;
    height: 65px;
    display: block;
    padding-left: 84px;
    margin-right: 20px;
    padding-top: 18px;
    color: #fff;
    font-size: 30px;
    text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.45); }
    .navbar .logo:hover, .navbar .logo:focus {
      text-decoration: none; }
  .navbar .brand > a {
    color: #fff;
    font-size: 1.5em;
    text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.45);
    margin-left: -12px; }
    .navbar .brand > a:hover, .navbar .brand > a:focus {
      border: none; }
  .navbar .navbar-nav {
    font-size: 20px; }
    .navbar .navbar-nav > li > a {
      color: #143643;
      padding: 30px 10px 10px 10px;
      margin: 0 10px; }
      .navbar .navbar-nav > li > a:hover, .navbar .navbar-nav > li > a:focus {
        background: inherit;
        border-bottom: 4px solid #143643; }
    .navbar .navbar-nav > li .active {
      border-bottom: 4px solid #143643; }
  .navbar .navbar-toggle {
    margin-top: 20px;
    border-color: #dddddd; }
    .navbar .navbar-toggle:hover, .navbar .navbar-toggle:focus {
      background-color: #dddddd; }
    .navbar .navbar-toggle .icon-bar {
      background-color: #888888; }
  @media (max-width: 767px) {
    .navbar .navbar-collapse > .navbar-nav {
      background-color: #fff; } }

.body-container {
  margin-top: 70px;
  min-height: 570px; }

.animated-arrow {
  -webkit-animation: upAndDown 2s infinite;
  animation: upAndDown 2s infinite; }

.img-mockup {
  height: 540px;
  z-index: 1; }
  @media (min-width: 768px) {
    .img-mockup {
      position: absolute; } }

@media (max-width: 767px) {
  .caption {
    float: left; }

  .img-mockup {
    float: left; } }
.home-container {
  background-color: #eef7f6;
  padding-bottom: 20px; }
  @media (min-width: 768px) {
    .home-container {
      height: 630px; } }
  .home-container:after {
    clear: both;
    content: "";
    display: block; }
  .home-container h1 {
    line-height: 1.5em;
    font-family: Sail, inherit;
    color: #143643; }
    @media (min-width: 768px) {
      .home-container h1 .indent {
        text-indent: 2em; } }
    @media (min-width: 768px) {
      .home-container h1 {
        position: absolute;
        left: 640px;
        top: 110px;
        font-size: 48px; } }
    @media (max-width: 767px) {
      .home-container h1 {
        font-size: 24px; } }
  @media (min-width: 768px) {
    .home-container .img-mockup {
      left: 220px;
      top: 100px; } }
  .home-container .img-mockup.second {
    height: 400px; }
    @media (min-width: 768px) {
      .home-container .img-mockup.second {
        left: 400px;
        top: 260px; } }
    @media (max-width: 767px) {
      .home-container .img-mockup.second {
        display: none; } }
  @media (min-width: 768px) {
    .home-container .sign-up-wrapper {
      position: absolute;
      left: 740px;
      top: 320px; } }
  @media (max-width: 767px) {
    .home-container .sign-up-wrapper {
      float: left; } }
  .home-container .sign-up-wrapper h4 {
    font-weight: 700;
    color: #eec33e;
    width: 100%; }
    @media (min-width: 768px) {
      .home-container .sign-up-wrapper h4 {
        font-size: 32px; } }
    @media (max-width: 767px) {
      .home-container .sign-up-wrapper h4 {
        font-size: 28px; } }
  .home-container .sign-up-wrapper p {
    font-size: 18px; }
  @media (min-width: 768px) {
    .home-container .sign-up-wrapper form {
      width: 320px; } }
  @media (max-width: 767px) {
    .home-container .sign-up-wrapper form {
      width: 100%; } }
  .home-container .sign-up-wrapper form .btn {
    background-color: #eec33e;
    font-weight: 600;
    font-size: 18px; }
  .home-container .sign-up-wrapper #output {
    margin-top: 10px;
    font-size: 20px; }

.slider {
  padding: 0; }

.slide-wrapper {
  position: relative;
  width: 100%;
  list-style-type: none;
  padding-bottom: 20px;
  border-top: 1px solid #eeeeee; }
  @media (min-width: 768px) {
    .slide-wrapper {
      height: 600px; } }
  .slide-wrapper:after {
    clear: both;
    content: "";
    display: block; }
  @media (min-width: 768px) {
    .slide-wrapper .caption {
      position: absolute; } }
  .slide-wrapper h1 {
    font-weight: 300; }
    @media (min-width: 768px) {
      .slide-wrapper h1 {
        font-size: 44px;
        margin-bottom: 20px;
        line-height: 1.3em; } }
    @media (max-width: 767px) {
      .slide-wrapper h1 {
        font-size: 30px;
        top: 10px;
        left: 0; } }
  .slide-wrapper p {
    font-size: 20px; }
    @media (min-width: 768px) {
      .slide-wrapper p {
        padding-left: 0.2em; } }
    .slide-wrapper p:before {
      content: open-quote; }
    .slide-wrapper p:after {
      content: close-quote; }
    .slide-wrapper p > .emph {
      text-transform: none;
      font-weight: 700; }

@media (max-width: 767px) {
  #slide-1 > .img-overlay {
    display: none; }

  #slide-4 > .img-mockup.second {
    display: none; } }
@media (min-width: 768px) {
  #slide-1 .caption {
    top: 300px;
    left: 540px; }
  #slide-1 .img-mockup {
    top: 40px;
    left: 140px; }
  #slide-1 .img-overlay {
    z-index: 2;
    opacity: 0.9;
    position: absolute;
    top: 0;
    left: 340px;
    width: 200px; }

  #slide-2 .caption {
    top: 200px;
    left: 340px; }
  #slide-2 .img-mockup.first {
    top: 40px;
    left: 40px; }
  #slide-2 .img-mockup.second {
    top: 40px;
    right: 60px; }

  #slide-3 .caption {
    top: 200px;
    left: 100px;
    width: 540px; }
  #slide-3 .img-mockup.first {
    top: 20px;
    right: 60px; }
  #slide-3 .img-mockup.second {
    top: 200px;
    right: 270px;
    height: 360px; }

  #slide-4 .caption {
    top: 180px;
    left: 540px;
    width: 500px; }
  #slide-4 .img-mockup.first {
    top: 20px;
    left: 60px; }
  #slide-4 .img-mockup.second {
    top: 160px;
    left: 240px;
    height: 420px; }

  #slide-5 .caption {
    top: 160px;
    left: 420px;
    width: 500px; }
  #slide-5 .img-mockup.first {
    top: 30px;
    left: 60px; } }
.bx-wrapper .bx-pager {
  top: 40%;
  right: 0;
  width: 10px; }

.bx-wrapper .bx-pager.bx-default-pager a {
  height: 16px;
  width: 16px;
  border-radius: 8px;
  margin-bottom: 12.8px;
  border: 1px solid #85c7bd;
  background: #fff; }
  .bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active {
    background: #cbe7e3; }

.join-container h1 {
  margin-top: 30px; }
.join-container .btn-job {
  height: 100px;
  border-radius: 15px;
  background: #26657e;
  border-color: #143643;
  font-size: 24px;
  color: #fff;
  cursor: inherit; }
  @media (min-width: 768px) {
    .join-container .btn-job {
      width: 300px;
      margin: 30px 30px; } }
  @media (max-width: 767px) {
    .join-container .btn-job {
      width: 90%;
      margin: 10px 20px; } }
@media (min-width: 768px) {
  .join-container .indent {
    margin-left: 210px; } }
.join-container p {
  font-size: 1.5em;
  text-align: center; }

code {
  background: #eeeeee;
  color: #143643;
  font-size: 16px; }

.ca-wrapper {
  font-size: 20px; }
  @media (min-width: 768px) {
    .ca-wrapper {
      margin-top: 60px; } }
  @media (max-width: 767px) {
    .ca-wrapper {
      margin-top: 20px; } }
  .ca-wrapper .emph {
    text-transform: inherit;
    font-weight: 700; }

@media (min-width: 768px) {
  .img-want {
    height: 340px;
    margin-top: 60px; } }
@media (max-width: 767px) {
  .img-want {
    width: 100%;
    margin-top: 20px; } }

.footer {
  height: 60px;
  background: #143643;
  color: #fff; }
  .footer p {
    text-align: center;
    font-size: 0.9em;
    font-weight: 100;
    margin-top: 20px; }
