@font-face {
  font-family: Sketchica;
  src: url("font/sketch.ttf"); }
.navbar {
  border: none;
  padding-top: 10px; }
  .navbar .navbar-brand {
    color: #e64c3c;
    font-family: Sketchica, inherit;
    font-size: 28px; }
  .navbar .navbar-nav > li > a {
    color: #e64c3c;
    font-size: 20px;
    font-weight: 300; }
    .navbar .navbar-nav > li > a:hover, .navbar .navbar-nav > li > a:focus {
      background: none; }
  .navbar .navbar-nav .active {
    font-weight: 500; }
  .navbar .navbar-toggle {
    border-color: #e64c3c; }
    .navbar .navbar-toggle .icon-bar {
      background-color: #e64c3c; }
  .navbar .navbar-collapse, .navbar .navbar-form {
    border-color: #e7e7e7; }

.footer {
  margin: 30px auto 20px auto; }

.footer-text {
  text-align: center;
  color: #e64c3c; }

.home-container h1 {
  text-transform: uppercase;
  text-align: right;
  font-weight: 500;
  color: white;
  position: absolute;
  right: 6%; }

.intro {
  height: 700px;
  background-image: url("../img/banner.jpg");
  background-size: 100%;
  background-position: center 20%;
  position: relative; }

.introducing {
  font-size: 80px;
  top: 240px; }

.you {
  font-size: 92px;
  top: 320px; }

.description {
  color: white;
  font-size: 28px;
  text-align: right;
  font-weight: 300;
  position: absolute;
  top: 440px;
  right: 6%; }

.more {
  color: white;
  font-weight: 100;
  font-size: 24px;
  margin: 0 auto;
  position: absolute;
  bottom: 10px;
  left: 42%; }

.main-title {
  font-size: 60px;
  color: white;
  position: absolute;
  top: 400px;
  right: 13%;
  font-family: Sketchica, inherit; }

.sign-up {
  width: 320px;
  position: absolute;
  left: 13%;
  bottom: 120px; }
  .sign-up * {
    border: none; }
  .sign-up input {
    border-radius: 0;
    background-color: white;
    font-weight: 100;
    opacity: 0.9; }
    .sign-up input:focus {
      opacity: 1; }
  .sign-up button {
    border-radius: 0;
    background-color: #27bbff;
    color: white;
    height: 34px;
    font-weight: 100; }
    .sign-up button:hover, .sign-up button:focus {
      background-color: #00a6f3;
      color: white; }

.output {
  color: white;
  font-weight: 200;
  margin-top: 10px; }

.coming-soon {
  height: 47px;
  width: 160px;
  background-image: url("../img/coming-soon.png");
  background-size: 100%;
  position: absolute;
  left: 13%;
  bottom: 60px; }

.features {
  background-color: #ebeff1;
  position: relative;
  font-weight: 300; }
  @media (min-width: 768px) {
    .features {
      background-image: url("../img/splash-features.png");
      background-size: 100%;
      background-repeat: no-repeat;
      height: 700px; } }

.iphone {
  background-image: url("../img/iphone_frame.png");
  background-size: 100%;
  width: 240px;
  height: 505px;
  margin: 0 auto;
  margin-top: 60px; }

.bx-viewport {
  top: 73px;
  left: 19px;
  width: 204px !important; }

.bxslider > li {
  left: 0; }
  .bxslider > li > img {
    width: 100%;
    height: 362.1px; }

.feature-box {
  width: 240px;
  color: #2b2b2b; }
  .feature-box h2 {
    color: #e64c3c;
    font-size: 20px;
    line-height: 28px;
    font-weight: 300; }
    @media (min-width: 768px) {
      .feature-box h2 {
        max-width: 160px; } }
  .feature-box .icon {
    min-height: 50px;
    background-size: 50px 50px;
    background-repeat: no-repeat;
    padding-left: 70px; }
    @media (max-width: 767px) {
      .feature-box .icon {
        padding-top: 10px; } }
  .feature-box .icon-share {
    background-image: url("../img/icon-share.png"); }
  .feature-box .icon-camera {
    background-image: url("../img/icon-camera.png"); }
  .feature-box .icon-eye {
    background-image: url("../img/icon-eye.png"); }
  .feature-box .icon-sketches {
    background-image: url("../img/icon-sketches.png"); }
  .feature-box .emph {
    font-weight: 500; }

@media (max-width: 767px) {
  .img-iphone {
    display: none; } }
@media (min-width: 768px) {
  .feature-box {
    position: absolute; }

  .box-1, .box-2 {
    left: 13%; }

  .box-3, .box-4 {
    right: 13%; }

  .box-1, .box-3 {
    top: 100px; }

  .box-2, .box-4 {
    top: 340px; } }
.email {
  font-family: "HelveticaNeue-CondensedBold", inherit; }

.map {
  background-image: url("../img/map.png");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 450px; }
  @media (max-width: 767px) {
    .map {
      height: 300px; } }

.cap-intro {
  color: #e64c3c; }
  .cap-intro h1 {
    font-size: 54px; }
  .cap-intro p {
    margin-top: 30px;
    font-weight: 200; }
  .cap-intro .want-in {
    font-size: 24px; }

.join-columns {
  background-image: url("../img/join.png");
  background-size: 100%;
  height: 420px;
  width: 746px;
  margin: 0 auto;
  margin-bottom: 40px; }
  @media (max-width: 767px) {
    .join-columns {
      height: 210px;
      width: 373px; } }

.join-container p {
  color: #e64c3c;
  font-size: 18px;
  font-weight: 200; }
